.projects-section {
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(18, 19, 22);
  padding: 10rem 12rem;

  .heading {
    font-family: "Montserrat", serif;
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .projects-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .wrapper {
      width: 45%;
      position: relative;

      .project-number {
        position: absolute;
        top: 0;
        left: -2.5rem;
        font-size: 4rem;
        font-weight: 700;
      }
      .project-img-wrapper {
        width: 100%;
        .project-img {
          width: 100%;
        }
      }

      .name {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
      }

      .stack-wrapper {
        text-transform: uppercase;
        font-weight: 400;

        .stack {
          margin: 0 0.5rem;
        }
        .stack:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .projects-section {
    padding: 5rem 6rem 10rem;

    .heading {
      font-size: 3rem;
      margin-bottom: 2.5rem;
    }
    .projects-wrapper {
      .wrapper {
        width: 42%;

        .project-number {
          left: -2rem;
          font-size: 3rem;
        }

        .name {
          font-size: 1.3rem;
        }

        .stack-wrapper {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .projects-section {
    box-sizing: border-box;
    padding: 5rem 2rem;

    .heading {
      font-size: 2rem;
    }

    .projects-wrapper {
      flex-direction: column;

      .wrapper {
        width: 87%;
        margin-bottom: 2rem;

        .project-number {
          left: -1.5rem;
          font-size: 3rem;
        }

        .name {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }

        .stack-wrapper {
          font-size: 0.8rem;
        }
      }
    }
  }
}
