.about-section {
  box-sizing: border-box;
  padding: 5rem 12rem;
  background-color: rgb(18, 19, 22);

  .heading {
    text-transform: uppercase;
    font-size: 3.8rem;
    letter-spacing: 4px;
  }
  .info {
    letter-spacing: 1px;
    font-size: 1.5rem;
  }
  .sub-heading {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 4px;
  }

  .skill-wrapper {
    .skill {
      margin: 0.5rem 1.5rem 0.5rem 0;
      font-size: 1.5rem;
      letter-spacing: 1px;
      display: inline-block;
    }
    .skill:first-child {
      margin-left: 0;
    }
  }
}
