.navbar {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;

  .cta-wrapper {
    .link {
      margin: 0 1.5rem;
      font-size: 1.1rem;
      font-weight: 600;
      letter-spacing: 5px;
      text-decoration: none;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .navbar {
    padding: 1.5rem 4rem;

    .cta-wrapper {
      .link {
        margin: 0 1rem;
        font-size: 0.8rem;
        letter-spacing: 4px;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .navbar {
    padding: 2rem 1.2rem;

    .cta-wrapper {
      .link {
        font-size: 0.7rem;
      }
    }
  }
}
